.landing{
    background: url('img/landing-page.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
}
.landing-overlay{
    height: 100vh;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.8;
}

.landing{
    position: relative;

}

.landing-content{
    position: absolute;
}

.landing-page-heading{
    font-size: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.landing-page-heading > div{
    margin-right: 40px;
}

.landing-page-heading > .landing-page-tag{
    margin-right: 20px;
    flex-basis: 40%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    
}

h1{
    color: white;
    z-index: 999;
}

.btn{
    padding: 20px;
    background-color: rgb(243, 243, 74);
    border: none;
    border-left: 10px solid rgb(255, 255, 0);
    box-shadow: none;
    font-size: 16px;
    text-transform: uppercase;

}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}