@media only screen and (max-width: 992px){
    .header > .header-p > .nav-container {
        justify-content: space-between;
    }

    .header > .header-p > .nav-container > .nav-links{
        display: none;
    }

    .header > .header-p > .nav-container > .nav-socials > .toggle{
        display: flex;
    }

    .header > .header-p > .nav-container > .nav-logos > .logo1 > img{
        transform: scale(0.7, 0.7);
        padding: -10px;
    }

} 

@media only screen and (min-width: 600px){
    .why-choose-us-container .img > div
    {
        width: 100%;
        height: 100vh;
    }

    .why-choose-us-container > .why-choose-us{
        width: 50%;
    }
        
    .content-tiles > div{
        flex-basis: 33%;
    }

    .services-tiles > div{
        flex-basis: 27%;
    }
}

@media only screen and (orientation: portrait) {

    .header > .header-p > .nav-container {
        justify-content: space-between;
        height: 30px;
    }

    .header > .header-p > .nav-container > .nav-links{
        display: none;
    }

    .header > .header-p > .nav-container > .nav-socials > .toggle{
        display: flex;
    }

    .social1, .social2, .social3{display: none;}

    .header > .header-p > .nav-container > .nav-logos > .logo1 > img{
        transform: scale(0.5, 0.5);
        padding: -10px;
    }

    .details-container .details{
        display: none;
        
        
    }
    
    .nav-logos{
        margin-left: -80px;
    }

    .landing-page-heading{
        transform: scale(0.5);
    }

    .why-choose-us-container{
        
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .why-choose-us{
        width: 100%;
        height: 100%;
    }

    .why-choose-us-container .content {
        font-size: 15px;
        margin: 50px;
    }

    .why-choose-us-container > .img > div 
    {
        width: 100%;      
        height: 50vh;
    }

    .content-tiles > div{
        flex-basis: 100%;
    }
    
    .services-tiles > div{
        flex-basis: 100%;
    }

}


