.why-choose-us-container{
    
    height: 100%;
    display: flex;
    justify-content: center;
}

.why-choose-us-container .why-choose-us
{
    text-align: center;
}

.why-choose-us-container .content strong{
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.why-choose-us-container .content strong::after{
    display: block;
    content: "";
    background: yellow;
    width: 150px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.why-choose-us-container .img
{
    position: relative;
}

.why-choose-us-container .img > .why-choose-us-img
{
    position: absolute;
    background-image: url("img/why-choose-us.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;        
}

.why-choose-us-container .content {
    display: flex;
    flex-direction: column;
    margin: 50px;
    font-size: 90%;
}

.why-choose-us-overlay{
    height: 100vh;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-image: linear-gradient(to bottom right, black, yellow);
    opacity: 0.4;
}

.content-tiles{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.content-tiles > div{
    flex-basis: 33%;
}

.content-tiles > div > div > i{
    font-size: 60px;
    color: yellow;
    text-shadow: 1px 1px 5px black;
}

.content-tiles > div > div > h1{
    color: black;
    font-size: 15px;
    margin-bottom: 10px;
}

.content-tiles > div > div::after{
    display: block;
    background: yellow;
    content: '';
    width: 60px;
    height: 3px;
    margin: auto;
}

.content-tiles > div {
    text-align: center;
}




