.why-choose-us-container{
    
    height: 100%;
    display: flex;
    justify-content: center;
}

.why-choose-us-container .why-choose-us
{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.why-choose-us-container .content h1{
    color: yellow;
    text-shadow: 1px 2px black;
}

.why-choose-us-container .img
{
    position: relative;
}

.why-choose-us-container .img > .why-choose-us-img
{
    position: absolute;
    background-image: url("img/why-choose-us.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;        
}

.why-choose-us-container .content {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.why-choose-us-overlay{
    height: 100vh;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(37, 37, 24, 0.4);
}


